/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {font-family:"Sinclair ZX Spectrum ES Regular";
src:url("sinclair_zx_spectrum_es.eot?") format("eot"),url("sinclair_zx_spectrum_es.woff") format("woff"),url("sinclair_zx_spectrum_es.ttf") format("truetype"),url("sinclair_zx_spectrum_es.svg#Sinclair-ZX-Spectrum-ES") format("svg");font-weight:normal;font-style:normal;}


body{
  /*http://www.styleseven.com/php/get_product.php?product=ZX-Spectrum-7*/
  font-family: 'Sinclair ZX Spectrum ES Regular',helvetica;
  background-color: #CCC;
}

a,a:visited{text-decoration: none;
  color:black;
}
a:hover{color:red;}

span.loading{
  visibility: visible;
  color:#CCC;
  background: black;
}

span.loaded{
  visibility: visible;
}

span{
  visibility: hidden;
}

.wrap{
  width:345px;
  font-size: 1.2em;
  margin: 0 auto;
}
.wrap > img{
  width:100%;
}
h3{
  text-transform: uppercase;
}

img{
  /*visibility: hidden; */
}
